@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Ticketmaster.Utilities.EmployeeManagementViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Employee Management</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- Employee Table -->
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Employees.First().FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.First().LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.First().Email)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.First().PhoneNum)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNum)</td>
                <td>
                <form asp-action="StageEmployeeEdit" method="post">
                    <tr>
                    <td>
                        <input type="hidden" name="id" value="@item.Id" />
                        <input type="text" name="FirstName" value="@item.FirstName" class="form-control" />
                    </td>
                    <td>
                        <input type="text" name="LastName" value="@item.LastName" class="form-control" />
                    </td>
                    <td>
                        <input type="text" name="Email" value="@item.Email" class="form-control" />
                    </td>
                    <td>
                        <input type="text" name="PhoneNum" value="@item.PhoneNum" class="form-control" />
                    </td>
                    <td>
                        <button type="submit" name="action" value="Edit" class="btn btn-warning">Stage Edit</button>
                    </td>

                </form>
                <td><form asp-action="StageEmployeeDelete" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" name="action" value="Delete" class="btn btn-danger">Stage Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Staged Changes</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Num</th>
            <th>Email</th>

            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StagedChanges)
        {
            <tr>
                <td>@item.Employee.FirstName @item.Employee.LastName</td>
                <td>@item.Employee.PhoneNum</td>
                <td>@item.Employee.Email</td>
                <td>@item.Action</td>
                <td>
                    <form asp-action="RevertEmployeeChange" method="post">
                        <input type="hidden" name="Id" value="@item.Employee.Id" />
                        <button type="submit" class="btn btn-danger">Revert</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Commit Changes -->
<form asp-action="CommitChanges" method="post">
    <button type="submit" class="btn btn-success">Commit Changes</button>
</form>